<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <title>Hello, world!</title>
</head>
<body>
    {{>navbar}}
    <h1 style="margin-top: 10%;">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Assumenda eveniet dolorum voluptate amet, commodi quos nostrum ullam? Ipsam molestias quo quos, vel culpa deleniti ullam. Velit atque itaque nostrum! Fugiat.</h1>
</body>
</html>